<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-controller="comensales" asp-action="reserva">
            <i class="ni ni-tv-2 text-primary"></i> Reservar Evento
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="comensales" asp-action="reservas">
            <i class="ni ni-tv-2 text-primary"></i> Mis Reservas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="comensales" asp-action="comentarios">
            <i class="ni ni-tv-2 text-primary"></i> Eventos finalizados
        </a>
    </li>
</ul>
