<ul class="navbar-nav flex-column">
    <li class="nav-item">
        <a class="dropdown-item" asp-controller="comensales" asp-action="reserva">
            <i class="far fa-calendar-check text-success"></i> Reservar evento
        </a>
    </li>
    <li class="nav-item">
        <a class="dropdown-item" asp-controller="comensales" asp-action="reservas">
            <i class="far fa-calendar-alt text-primary"></i> Mis eventos y reservas
        </a>
    </li>
    @*<li class="nav-item">
            <a class="nav-link" asp-controller="comensales" asp-action="comentarios">
                <i class="ni ni-tv-2 text-primary"></i> Eventos finalizados
            </a>
        </li>*@
</ul>
