@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-start">

    @foreach (var eventoFinalizado in ViewBag.EventosFinalizados)
    {
        <div class="col-md-3 col-lg-4 mb-2">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <h2>Evento finalizado</h2>
                        <h4>Precio: @eventoFinalizado.Nombre</h4>
                        <h4>Precio: @eventoFinalizado.Precio</h4>
                        <h4>Precio: @eventoFinalizado.Calificacion</h4>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


@*<div class="row justify-content-start">
    <div class="col-md-3 col-lg-4 mb-2">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h2>Receta</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-4 mb-2">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h2>Receta</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-4 mb-2">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h2>Receta</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-4 mb-2">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h2>Receta</h2>
                </div>
            </div>
        </div>
    </div>
</div>*@
